* {
    margin: 0;
    padding: 0;
}

#chart-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#chart {
    margin: 10px;
}

.arc text {
    font: 10px sans-serif;
    text-anchor: middle;
}
  
.arc path {
    stroke: #fff;
}