<!DOCTYPE html>
<meta charset="UTF-8">
<html>
    <head>
        <title>Creative HTML</title>
        <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
        <link rel="stylesheet" href="../static/css/creative.css">
</head>
<body>
    <div id="page-wrap">

    <h1>Creative HTML</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, nobis nulla. Quod numquam consequuntur magnam, porro quam esse officia odit repellendus animi omnis architecto fugit.</p>

    <script type="text/javascript" src="../static/js/creative.js"></script>

    </div>

    </body>
</html>