<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <h1>Welcome</h1>
    <p><h2>This is my flask application</h2> <br>
    In order to access the basic.html, advanced.html and creative.html files, <br>
    you will need to add the names of those files into the url of this page. <br>
    For example: http://127.0.0.1:5000/basic will access the basic.html file. <br>
    Use this same logic to access the other two html files. <br>
    Thank you!</p>
</body>
</html>